<div class="errorpage" *ngIf="restError">
    rest call failed: {{restErrorMessage}}
</div>

<div class="page">
    <div class="banner">
        <img class="bcImage" src="/assets/kids3.jpeg">
    </div>

    <div class="TwoBoxes" fxLayout="row" fxLayoutAlign="space-between" fxLayoutGap="10px" fxLayout.xs="column">

        <div class="mapBox" fxFlexOrder='1' fxFlexOrder.xs='2'>
            <google-map height="500px" width="100%" [zoom]="zoom" [center]="center" [options]="options"
                (mapClick)="click($event)">
                <map-marker #somemarker="mapMarker" *ngFor="let marker of markers" [position]="marker.position"
                    [label]="marker.label" [title]="marker.title" [options]="marker.options"
                    (mapClick)="openInfo(markerElem, marker.info)">
                </map-marker>

                <map-info-window>{{ infoContent }}</map-info-window>
            </google-map>
        </div>
        <div class="descriptionBox" fxLayout="column" fxLayoutAlign="space-between" fxLayoutGap="10px" fxFlexOrder='2' fxFlexOrder.xs='1'>
            <mat-card class="matCard">
                <mat-card-title class="bigTitle">Welcome to the reservation app</mat-card-title>
                <mat-card-content>
                    <div class="description">
                        <p class="par">This application is made by Tom Sijbers for his course Computer Science IA.</p>
                        <p class="par">This is a demo site and all information is testData. </p>
                        <p class="par">This is a full stack application based on Sping boot, Angular, mysql and
                            keycloak.</p>
                        <p class="par">This description is actually reserved to give information about the venue.</p>
                        <p class="par">For access as administrator, use these credentials: unifi@sijbers.net/Password1
                        </p>
                        <p class="par">For access as a normal visitor wanting to make a reservation, kindly use the
                            registration wizard on the login screen.</p>
                        <p class="par">You can see an overview of the backend API calls on <a
                                href="http://reservation.sijbers.net:7070/swagger-ui.html#/"> swagger</a></p>
                        
                        <div class="par" fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="10px">
                            <p>Sources for this project can be downloaded from github</p>

                            <a href="https://github.com/tomtom3051/reservationFrontend">Frontend</a>

                            <a href="https://github.com/tomtom3051/reservationappBackend">Backend</a>
                        </div>
                    </div>
                </mat-card-content>
            </mat-card>

            <div class="TwoSubBoxes" fxLayout="row" fxLayoutAlign="space-between" fxLayoutGap="10px"  fxLayout.xs="column">
                <mat-card class="matCardLittle">
                    <mat-card-title class="bigTitle">Prices</mat-card-title>
                    <mat-card-content>
                        <div class="description">
                            <p class="par">The price for renting the venue is calculated as follows:</p>
                            <mat-list class="priceList">

                                <mat-list-item>
                                    <p class="parPrice">Price per hour: AED {{hourPrice}}</p>
                                </mat-list-item>
                                <mat-list-item>
                                    <p class="parPrice">Clean up crew: AED {{cleanUpPrice}}</p>
                                </mat-list-item>
                                <mat-list-item>
                                    <p class="parPrice">Bar Crew/hour: AED {{barCrewPrice}}</p>
                                </mat-list-item>
                            </mat-list>
                        </div>
                    </mat-card-content>
                </mat-card>
                <mat-card class="matCardLittle">
                    <mat-card-title class="bigTitle">Make Reservation</mat-card-title>
                    <mat-card-content>
                        <div class="description" *ngIf="!isLoggedIn">
                            <p class="par">In order to be able to make a reservation, you'll first have to login.</p>
                            <div class="OneBox" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="10px">
                                <button mat-raised-button color="primary" (click)="login()" type="button">Sign in or
                                    Sign up</button>
                            </div>
                        </div>
                        <div class="description" *ngIf="isLoggedIn">
                            <p class="par">Welcome {{givenName}}</p>
                            <div class="OneBox" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="10px">
                                <button mat-raised-button color="primary" (click)="makeReservation()" type="button">Make
                                    Reservation</button>
                            </div>
                        </div>
                    </mat-card-content>
                </mat-card>
            </div>
        </div>
    </div>
</div>