<table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
    <ng-container matColumnDef="reservationDate">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Date</th>
        <td mat-cell *matCellDef="let element"> {{element.reservationDate | date :'short'}} </td>
    </ng-container>

    <ng-container matColumnDef="duration">
        <th mat-header-cell *matHeaderCellDef mat-sort-header class="leftAlign">Duration</th>
        <td mat-cell *matCellDef="let element" class="leftAlign"> {{element.duration}} </td>
    </ng-container>

    <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef mat-sort-header class="leftAlign">Status</th>
        <td mat-cell *matCellDef="let element" class="leftAlign"> {{element.status}} </td>
    </ng-container>

    <ng-container matColumnDef="numberOfGuests">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Guests</th>
        <td mat-cell *matCellDef="let element" class="leftAlign"> {{element.numberOfGuests}} </td>
    </ng-container>

    <ng-container matColumnDef="barCrew">
        <th mat-header-cell *matHeaderCellDef mat-sort-header class="leftAlign">Bar Crew</th>
        <td mat-cell *matCellDef="let element" class="leftAlign"> 
            <span *ngIf="element.barCrew">Bar Crew</span> 
        </td>
    </ng-container>

    <ng-container matColumnDef="cleanUpCrew">
        <th mat-header-cell *matHeaderCellDef mat-sort-header class="leftAlign">CleanUp Crew</th>
        <td mat-cell *matCellDef="let element" class="leftAlign"> 
            <span *ngIf="element.cleanUpCrew">CleanUp Crew</span> 
        </td>
    </ng-container>

    <ng-container matColumnDef="price">
        <th mat-header-cell *matHeaderCellDef mat-sort-header class="leftAlign">Price</th>
        <td mat-cell *matCellDef="let element" class="leftAlign"> {{element.price}} </td>
    </ng-container>

    <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> </th>
        <td mat-cell *matCellDef="let element" class="leftAlign">
            <div fxLayout="row" fxLayoutGap="4px">
                <button *ngIf="element.status === 'requested'" mat-raised-button color="accent" type="submit" (click)="confirmUpdate(element.reservationDate, element.id, 'cancel')">Cancel</button>
            </div>
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
