<div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px" class="cardHeader" mat-dialog-title>
  <mat-icon class="icon" aria-hidden="false" aria-label="Warning">warning</mat-icon>
  <div>{{modalData.title}}</div>
</div>
<div mat-dialog-content>
 
  <p>{{modalData.message}}</p>
</div>
<div mat-dialog-actions>
  <button type="button" color="accent" mat-raised-button  class="cancelButton midden"  (click)="noAction()">No</button>
  <button type="button" color="primary" mat-raised-button  class="actionButton midden"  (click)="doAction()" cdkFocusInitial>{{modalData.confirmButtonText}}</button>
</div>


