

.page {
    background-color: #bbb;
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
    padding-right: 10px;
    height: 90vh;
}

.matCardRight {
     width: 60vw;
     margin-top: 10px;
 }
 
.matCardLeft {
    width: 30vw;;
    margin-top: 10px;
}

.buttonSave, .buttonCancel {
    margin-left: 5px;
}

.formField{
    width: 215px;
}

.TwoBoxes{
   // background-color: red;
}

.row{
width: 100%;
}

.reservationDate, .creationDate, .modifDate {
    margin-right: 3px;
    width: 180px;
}
.id, .duration, .status {
        margin-right: 3px;
        width: 80px;
}


.bcImage {
    vertical-align: middle;
    width: 100%; 
    height: 100%; 
    object-fit: cover;
 }

 .banner {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: block;
    width: 100%;
    height: 370px;
 }

 .overFlow{
//    display: flex;    
    overflow-y: auto;
    max-height: 47vh;

 }