<div class="developper">Computer Science Project By Tom Sijbers</div>



<div fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="10px">
    <div><button mat-raised-button color="primary" type="submit" (click)="testAuthAnon()">Anon</button></div>
    <div><button mat-raised-button color="primary" type="submit" (click)="testAuthUser()">User</button></div>
    <div><button mat-raised-button color="primary" type="submit" (click)="testAuthAdmin()">Admin</button></div>
    <div><button mat-raised-button color="primary" type="submit" (click)="logoff()">LogOff</button></div>
    <div><button mat-raised-button color="primary" type="submit" (click)="popup()">Popup</button></div>
</div>



<mat-card>
    <mat-card-title>loggedIn</mat-card-title>
    <mat-card-content>{{isLoggedIn}}
    </mat-card-content>
</mat-card>

<mat-card>
    <mat-card-title>idToken</mat-card-title>
    <mat-card-content><div class="wordwrap">{{idToken}}</div>
    </mat-card-content>
</mat-card>

<mat-card>
    <mat-card-title>refreshToken</mat-card-title>
    <mat-card-content><div class="wordwrap">{{refreshToken}}</div>
    </mat-card-content>
</mat-card>

<mat-card>
    <mat-card-title>identityClaims</mat-card-title>
    <mat-card-content><div class="wordwrap">{{identityClaims | json}}</div>
    </mat-card-content>
</mat-card>

<mat-card>
    <mat-card-title>logoutUrl</mat-card-title>
    <mat-card-content>{{logoutUrl}}
    </mat-card-content>
</mat-card>
